# Compile flags
*.d
*.o
*.log
data/*

# Build files
build/*
!./build/Makefile
!./build/compile_settings.txt
!./build/input.in.txt

# Language servers
.ccls-cache/*
.clangd/*
compile_commands.json

run/cnfg/*
run/log/*
run/dat/*
run/processed/*
machine.*
slurm*
